header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #4f4fd9;
    margin-bottom: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #090974;
    color: white;
    margin-top: 10px;
}

